.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: 5px solid blue;
  border-radius: 1rem;
}

.board div {
  width: 98px;
  height: 98px;
  text-align: center;
  line-height: 100px;
  font-size: 48px;
  font-weight: bold;
  border: 1px solid blue;
  color: black;
}

.btn {
  margin: 10px 128px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
